.hero {
  background-color: $white;
  min-height: 100%;
  position: relative;
  width: 100vw;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    min-height: 80vh;
    width: 75%;

    @include tablet {
      flex-direction: row;
      min-height: 100vh;
    }

    @include desktop {
      width: 100%;
    }
  }

  &__info_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    @include tablet {
      width: 100%;
    }

    @include desktop {
      margin-top: 14rem;
      width: 50%;
    }
  }

  &__box {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 90vw;

    @include desktop {
      width: 35vw;
    }
  }

  &__img-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    width: 100%;

    @include desktop {
      margin-top: 4rem;
    }
  }

  &__profile-pic {
    border-radius: 100%;
    box-shadow: 0px 0px 14px 6px rgba(24,28,37,0.42);
    width: auto;

    @include tablet {
      align-self: center;
      height: auto;
      margin: 0 0 0 4rem;
      width: 90%;
    }

    @include desktop {
      transition: all 0.4s ease 0s;
      width: 80%;

      &:hover{
        transform: translateY(-.8rem) scale(1);
      }
    }
  }
}

//Typewriter.jsx
.title {
  align-self: center;
  color: $dark-grey;
  font-size: $fontxl;
  margin-top: 5rem;
  text-align: center;
  text-transform: capitalize;
  width: 100%;

  @include tablet {
    font-size: $fontxxl;
    margin-top: 0;
    text-align: left;
  }

  @include desktop {
    align-self: flex-start;
    font-size: 2rem;
    margin-top: 0;
    text-align: left;
  }

  span {
    text-transform: uppercase;
    font-family: "Road Rage", cursive;
  }

  .text-1 {
    color: #00D2F8;
    font-size: 2rem;
  }

  .text-2 {
    color: #3D76F0;
    font-size: 2rem;
  }

  .text-3 {
    color: rgb(249, 37, 37);
    font-size: 2rem;
  }

  .text-4 {
    color: rgb(244, 210, 76);
    font-size: 2rem;
  }
}

.Typewriter__cursor {
  font-size: 2rem;
}
